現在の文字数は<span id="tweet_count"></span>です。

<%= form_for(@tweet, html: { class: "form-horizontal" }) do |f| %>
   <%= render 'shared/error_messages', object: f.object %>
  <div class="control-group">
    <%= f.label :message, class: "control-label" %><br />
    <%= f.text_area :message, size: "50x3" %>
  </div>
  <div class="control-group">
    <%= label_tag 'tweet_opt[hashtag]', 'hashtag', class: "control-label" %>
    <%= text_field_tag 'tweet_opt[hashtag]', @hashtag %>
  </div>
  <div class="control-group">
    <%= label_tag 'tweet_opt[speaker]', 'speaker', class: "control-label" %>
    <%= text_field_tag 'tweet_opt[speaker]', @speaker %>
  </div>
  <div class="form-actions">
    <%= f.submit("送信", class: "btn btn-primary") %>
  </div>
<% end %>

