<!DOCTYPE html>
<html>
<head>
  <title>Tsudaru</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
               <ul>
                  <li>ジョブ数：<%= @all_delayed_job_size %></li>
                  <li>内、未実行数：<%= @not_exec_delayed_job_size %></li>
                  <li>内、エラー数：<%= @fail_delayed_job_size %></li>
               </ul>
            </div>
            <div class="span10">
                <%= yield %>
            </div>
        </div>
    </div>
</body>
</html>
